<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>BundleIdentifier</key>
  <string>com.rogueamoeba.audiohijack</string>
  <key>EnableTranscribeScriptPath</key>
  <string>AudioHijackCommands/EnableTranscribe.ahcommand</string>
  <key>DisableTranscribeScriptPath</key>
  <string>AudioHijackCommands/DisableTranscribe.ahcommand</string>
</dict>
</plist>
